<section>
    <h2>Your Posts:</h2>
    {{#if posts.length}}
    <ol>
        {{#each posts as |post|}}
        <li>
            <a href="/dashboard/edit/{{post.id}}">
                <div class="card-header">
                    <h4>{{post.title}}</h4>
                    <p>Posted by {{post.user_id}} on {{post.created-at}}</p>
                </div>
            </a>
        </li>
        {{/each}}
    </ol>
    {{else}}
        <h3>You have not made any posts.</h3>
    {{/if}}
</section>
